body {
    font-family: 'TT Norms';
    font-size: 16px;
}

h1 {
    font-weight: 800;
    font-size: 67px;
    line-height: 95%;
    letter-spacing: -0.01em;
    color: #fff;
}

h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 89%;
    letter-spacing: -0.01em;
    color: #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}





.header {
    background-color: #a95094;
    padding: 29px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__link {
    font-weight: 500;
    line-height: 125%;
    color: #fff;
}

.header__btn {
    border: 2px solid #ffc464;
    border-radius: 15px;
    padding: 18px 40px;
    font-weight: 700;
    font-size: 16px;
    color: #ffc464;
    line-height: 1.2;
}





.hero {
    background-color: #a95094;
    position: relative;
    overflow: hidden;
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.hero__image {
  flex: 1;
  position: relative;
  z-index: 1;
  margin-right: -100px; /* чтобы картинка выходила за container справа */
}

.hero__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.hero__content {
  max-width: 664px;
  width: 100%;
  z-index: 2;
}

.hero__highlight {
    font-weight: 700;
    color: #ffc464;
}

.hero__text {
    font-weight: 500;
    color: #fff;
    font-size: 20px;
    line-height: 120%;
    max-width: 460px;
    width: 100%;
    margin-top: 25px;
}

.hero__btn {
    display: inline-block;
    margin-top: 35px;
    border-radius: 15px;
    background: #000;
    padding: 18px 50px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #fff;
}








.advantages {
    padding-top: 75px;
    padding-bottom: 75px;
}

.advantages__list {
    display: flex;
    justify-content: center;
    gap: 93px;
}

.advantages__item {
    max-width: 207px;
    width: 100%;
}

.advantages__text {
    margin-top: 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
}






/* ===== Pricing ===== */
.pricing {
    padding: 100px 0;
}

.pricing__title {
    text-align: center;
    margin-bottom: 50px;
}

.pricing__table-wrapper {
    overflow-x: auto;
}

.pricing__table {
    width: 100%;
    border-collapse: collapse;
}

.pricing__table th,
.pricing__table td {
    padding: 18px 20px;
    border-bottom: 1px solid #eaeaea;
    text-align: left;
}

.pricing__table th {
    font-weight: 400;
}

.pricing__table th,
.pricing__table td {
    padding: 25px 0;
    border-bottom: 1px solid #eaeaea;
}

/* первый столбец — влево */
.pricing__table th:first-child,
.pricing__table td:first-child {
    text-align: left;
}

/* второй и третий столбцы — вправо */
.pricing__table th:nth-child(2),
.pricing__table th:nth-child(3),
.pricing__table td:nth-child(2),
.pricing__table td:nth-child(3) {
    text-align: right;
}

.pricing__btn {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #96317d;
}