body {
    font-family: 'TT Norms';
    font-size: 16px;
}

h1 {
    font-weight: 800;
    font-size: 67px;
    line-height: 95%;
    letter-spacing: -0.01em;
    color: #fff;
}

h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 89%;
    letter-spacing: -0.01em;
    color: #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}





.header {
    background-color: #a95094;
    padding: 29px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__link {
    font-weight: 500;
    line-height: 125%;
    color: #fff;
}

.header__btn {
    border: 2px solid #ffc464;
    border-radius: 15px;
    padding: 18px 40px;
    font-weight: 700;
    font-size: 16px;
    color: #ffc464;
    line-height: 1.2;
}





.hero {
    background-color: #a95094;
    position: relative;
    overflow: hidden;
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.hero__image {
  flex: 1;
  position: relative;
  z-index: 1;
  margin-right: -100px; /* чтобы картинка выходила за container справа */
}

.hero__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.hero__content {
  max-width: 664px;
  width: 100%;
  z-index: 2;
}

.hero__highlight {
    font-weight: 700;
    color: #ffc464;
}

.hero__text {
    font-weight: 500;
    color: #fff;
    font-size: 20px;
    line-height: 120%;
    max-width: 460px;
    width: 100%;
    margin-top: 25px;
}

.hero__btn {
    display: inline-block;
    margin-top: 35px;
    border-radius: 15px;
    background: #000;
    padding: 18px 50px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #fff;
}








.advantages {
    padding-top: 75px;
    padding-bottom: 75px;
}

.advantages__list {
    display: flex;
    justify-content: center;
    gap: 93px;
}

.advantages__item {
    max-width: 207px;
    width: 100%;
}

.advantages__text {
    margin-top: 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
}




/* ===== Diagnostics ===== */


.diagnostics {
    background-color: #fafafa;
}

.diagnostics__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.diagnostics__image {
    margin-right: calc((100vw - 1200px) / -2);
}

.subtitle {
    display: block;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #a95094;
}

.diagnostics__problems {
    margin-top: 50px;
    max-width: 594px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 20px;
}

.diagnostics__btn {
    border-radius: 15px;
    border: 1px solid #96317d;
    padding: 15px 29px;

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #96317d;
}

.diagnostics__hint {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
}



/* ===== Pricing ===== */
.pricing {
    padding: 100px 0;
}

.pricing__title {
    text-align: center;
    margin-bottom: 50px;
}

.pricing__table-wrapper {
    overflow-x: auto;
}

.pricing__table {
    width: 100%;
    border-collapse: collapse;
}

.pricing__table th,
.pricing__table td {
    padding: 18px 20px;
    border-bottom: 1px solid #eaeaea;
    text-align: left;
}

.pricing__table th {
    font-weight: 400;
}

.pricing__table th,
.pricing__table td {
    padding: 25px 0;
    border-bottom: 1px solid #eaeaea;
}

/* первый столбец — влево */
.pricing__table th:first-child,
.pricing__table td:first-child {
    text-align: left;
}

/* второй и третий столбцы — вправо */
.pricing__table th:nth-child(2),
.pricing__table th:nth-child(3),
.pricing__table td:nth-child(2),
.pricing__table td:nth-child(3) {
    text-align: right;
}

.pricing__btn {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #96317d;
}



.team {
    background-color: #fafafa;
    padding: 100px 0;
}

.team__cards {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.team-card {
    max-width: 370px;
    width: 100%;
    border-radius: 15px;
}


.team__subtitle {
    text-align: center;
    text-transform: none;
}

.team__title {
    text-align: center;
}

.team-card__stats {
    padding: 50px 45px 30px;
    background-color: #fff;
}

.team-card__name {
    font-weight: 500;
    font-size: 24px;
}

.team-card__position {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 25px;
}

.team-card__stat {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-bottom: 20px;
}

.team-card__icon {
    width: 12px;
    height: 10px;
}

.team-card__text {
    font-weight: 500;
    font-size: 16px;
    color: #96317d;
}

.slider__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}

.slider__pagination {
    display: flex;
    align-items: center;
    gap: 10px;
}

.slider__dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #96317d;
    border-radius: 50%;
    margin: 0 6px;
    transition: all 0.3s ease;
}

.slider__dot--active {
    width: 28px;
    height: 28px;
    border-radius: 100%;
    border: 2px solid #96317d;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slider__dot--active::after {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #96317d;
    border-radius: 50%;
    position: absolute;
}

.slider__buttons {
    display: flex;
    align-items: center;
    gap: 40px;
}

.slider__btn {
    font-weight: 500;
    font-size: 16px;
}

.slider__btn--next {
    color: #96317d;
    display: flex;
    align-items: center;
    gap: 15px;
}






.reviews {
    padding: 100px 0;
}

.reviews__slider {
    margin-top: 50px;
}

.reviews__cards {
    display: flex;
    gap: 30px;
}

.review-card {
    max-width: 570px;
    width: 100%;
    background-color: #fafafa;
    padding: 75px 50px;
}

.review-card__header {
    display: flex;
    align-items: center;
    gap: 30px;
}

.review-card__img {
    width: 70px;
    height: 70px;
}

.review-card__name {
    font-weight: 500;
    font-size: 24px;
}

.review-card__date {
    font-weight: 400;
    font-size: 14px;
    margin-top: 8px;
}

.review-card__text {
    margin-top: 35px;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
}



.ratings {
    background: #fafafa;
    padding: 50px 0;
}

.ratings__list {
    display: flex;
    gap: 30px;
}

.ratings__item {
    max-width: 370px;
    width: 100%;
    border-radius: 15px;
    background: #fff;
    padding: 35px;

    display: flex;
    justify-content: center;
}

.ratings__value, .ratings__count {
    display: block;
}

.ratings__info {
    padding-right: 29px;
    border-right: 1px solid #e3e3e3;
}

.ratings__logo {
    margin-left: 29px;
}

.ratings__value {
    font-weight: 500;
    line-height: 114%;
    font-size: 25px;
    margin-bottom: 5px;
}

.ratings__main {
    font-weight: 700;
    font-size: 35px;
}





/* ===== FAQ ===== */
.faq {
    padding: 100px 0;
}

.faq__inner {
    display: flex;
    gap: 134px;
}

.faq__content {
    max-width: 301px;
    width: 100%;
}

.faq__text {
    margin-top: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.05em;
    color: #212121;
}

.faq__list {
    flex: 1;
}

.faq__item {
    padding: 25px 35px;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    background: #fafafa;
    margin-bottom: 25px;
}

.faq__question {
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #212121;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.faq__question::-webkit-details-marker {
    display: none;
}

.faq__answer {
    margin-top: 15px;
    color: #666;
}



.faq__icon {
    display: block;
    position: relative;
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 100%;
    background-color: #96317d;
}

.faq__icon::before,
.faq__icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
}

.faq__icon::before {
    width: 14px;
    height: 2px;
    transform: translate(-50%, -50%);
}

.faq__icon::after {
    width: 2px;
    height: 14px;
    transform: translate(-50%, -50%);
}

.faq__item[open] .faq__icon::after {
    display: none;
}







.callback {
    padding: 100px 0;
    background-image: url("../img/callback-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.callback__inner {
    border-radius: 15px;
    background: #fff;
    padding: 50px 87px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.callback__text {
    margin-top: 10px;
    font-weight: 500;
    font-size: 20px;
    color: #171717;
}

.callback__discount {
    font-weight: 700;
    color: #a95094;
}

.callback__form {
    display: flex;
    align-items: center;
    gap: 30px;
}

.callback__input {
    display: block;
    border-radius: 10px;
    background: #f5f5f5;
    padding: 25px 30px;
}

.callback__btn {
    border-radius: 15px;
    background: #a95094;
    padding: 25px 40px;

    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #fff;
}





.contacts {
    padding: 100px 0;
}

.contacts__container {
    display: flex;
    gap: 69px;
    align-items: center;
}

.contacts__map {
    max-width: 731px;
    width: 100%;
}

.contacts__iframe {
    width: 100%;
    height: 400px;
    border-radius: 15px;
    border: none;
}

.contacts__list {
    margin-top: 50px;
}

ul li span {
    display: block;
}

.contacts__item {
    margin-bottom: 35px;
}

.contacts__address {
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    color: #000;
}

.contacts__time {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000;
}

.contacts__email {
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: #000;
}

.contacts__btn {
    border: 2px solid #993280;
    border-radius: 15px;
    padding: 18px 40px;

    font-weight: 700;
    font-size: 16px;
    color: #993280;
}






.footer {
    padding: 30px 0;
}

.footer__container {
    padding: 0 51px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__row--menu {
    margin-top: 35px;
    margin-bottom: 49px;
}

.footer__list {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footer__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #000;
}

.footer__row--payments {
    width: 100%;
    background-color: #fafafa;
    padding: 35px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

.footer__payments {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer__payments-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #000;
}

.footer__payment {
    border-radius: 10px;
    background: #fff;
    padding: 19px 28px;
}

.footer--cash {
    font-weight: 500;
    font-size: 14px;
    line-height: 182%;
    letter-spacing: -0.03em;
    color: #000;
}

.footer__row--copyright {
    display: flex;
    justify-content: space-between;
    gap: 600px;
}

.footer__text {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #000;
}